.Button{
    background-image: linear-gradient(to bottom, orange,  #FF136F 100%);
    color:#fff;
    border:none;
    border-radius: 8px;
    padding:9px 25px;
    cursor:pointer;
   
}
.area{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-position: 30rem;
    background-size:contain;
}
.container{
    margin-top: 15px;
}
.bg-2{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    float:left;
}
.iphone, .text, .price, .samsung, .redmi{
    text-align: center;
}
#tab{
    margin-left:30%;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.phone{
    margin-top: 20px;
}
.pc{
    margin-top:50px;
}
.asus, .razer, .xiaomi{
    text-align: center;
}
.categories{
    text-align: center;
    margin-top: 80px;
}



